<!-- top-header -->
<div class="header-most-top">
    <p>Grocery Offer Zone Top Deals & Discounts</p>
</div>
<!-- //top-header -->
<!-- header-bot-->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <!-- header-bot-->
        <div class="col-md-4 logo_agile">
            <h1 style="margin-left:0%;margin-right:0%">
                <a href="index.html">
                    <span>S</span>tore-2-Door
                    <!-- <span>2</span>Door -->
                    <img style="width:20%;" src="assets/images/logo2.png" alt=" ">
                </a>
            </h1>
        </div>
        <!-- header-bot -->
        <div class="col-md-8 header">
            <!-- header lists -->
            <ul>
                <li>
                    <a class="play-icon popup-with-zoom-anim" href="#small-dialog1">
                        <span class="fa fa-map-marker" aria-hidden="true"></span> About Us</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <span class="fa fa-truck" aria-hidden="true"></span>Contact</a>
                </li>
              
                <li>
                        
                        <a href="#" data-toggle="modal" data-target="#myModal1">
                                <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign In </a>
                </li>
                <li>

<a routerLink="/registration" data-toggle="modal" data-target="#myModal2">
                        <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up </a>
                </li>
            </ul>
            <!-- //header lists -->
            <div class="agileits_search">
                    <form action="#" method="post">
                        <input name="Search" type="search" placeholder="How can we help you today?" required="">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-search" aria-hidden="true"> </span>
                            <img style="width:50%" src="assets/images/search.jpg"/>
                        </button>
                    </form>
                </div>
                <!-- //search -->
                <!-- cart details -->
                
                <div class="top_nav_right">
                    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                        <form action="#" method="post" class="last">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="display" value="1">
                            <button style="width:50%"class="w3view-cart" type="submit" name="submit" value="">
                            
                                    <img style="width:65%" src="assets/images/34627.png"/>
                            </button>
                        </form>
                    </div>
                </div>
                <!-- //cart details -->
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- signin Model -->
<!-- Modal1 -->

<!-- //Modal1 -->
<!-- //signin Model -->
<!-- signup Model -->
<!-- Modal2 -->
<app-registration></app-registration>
<!-- 
<app-login></app-login> -->